
.Footer {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center; 
    height: 100px;
}
 .Footer > .Github {
    width: 80px;
    height: 100%;
 
}
.Github-1{
    width: 80px;
    height: 100%;   
}
.Github>.Github-1> a > img{
    width: 100%;
    height: 100%;
}
.general-footer >.contacto >h2{
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  margin: 24px 0 5rem 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
.Github > .Github-1 > h3 {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
