.detail{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    border: 10px solid black;
    gap: 20px;
}
.conteinerInfo{  
    border: 1px solid rgba(231, 219, 219, 0.998);
    display: flex;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.107);
    border-radius: 8px;    
    justify-content: center;
    align-items: center;
    width: 900px;
    height:500px; 
    margin-top: 70px;
    margin-bottom: 5%;  
    border: 2px solid black;
}
.imageDetail{    
    height: 350px;
    width: 500px;    
  
}
.imageDetail > img{    
    height:100%;
    width: 100%;  
    object-fit: cover;
    border-radius: 5px;   
    border: 1px solid rgba(26, 24, 24, 0.559);
}
.description{  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
    margin-left: 20px; 
    border: 2px solid black;   
}
.description > h2 >h3 >p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.description > h2{
    margin-top: 40px;
    font-size:30px ;
    margin-bottom: 10px;
}
.description > h3{
    font-size:22px;
    margin-top: 1px;
}
.description > p{
    font-size: 18px ;
    margin: 30px;
}
.PDI{
    border: 5px solid black;
    width: 800px;
}
.puntos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 3rem;
    border: 2px solid black;
}
.puntos > h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:32px ;
}
.price {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 200px;
    margin-bottom: 15px;     
}
.price > p {
    font-size: 26px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(185, 32, 32);
}
.pdi{
    display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-bottom: 5rem;   
}
@media (max-width: 992px){
    .conteinerInfo{      
        border: 1px solid rgba(231, 219, 219, 0.998);
        display: flex;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.107);
        border-radius: 8px;        
        justify-content: center;
        align-items: center;    
        width: 800px;
        height:550px;     
        margin-top:40px;
        margin-bottom: 100px;      
    }    
    .imageDetail{        
        height: 300px;
        width: 400px;        
        margin-left: 25px;    
    }    
    .imageDetail > img{       
        height:100%;
        width: 100%;      
        object-fit: cover;
        border-radius: 5px;   
        border: 1px solid rgba(26, 24, 24, 0.559);    
    }   
    .description{      
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
        height: 400px;
        width: 600px;
        margin-left: 20px;    
    }    
    .description > h2 >h3 >p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }    
    .description > h2{
        margin-top: 50px;
        font-size:25px ;
        margin-bottom: 10px;
    }    
    .description > h3{
        font-size:20px;
        margin-top: 2px;
    }    
    .description > p{
        font-size: 16px ;
        margin: 30px;
    }   
    .puntos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 2rem;    
    }    
    .puntos > h2 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:36px ;
    }   
    .price {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
        height: 200px;
        margin-bottom: 15px;
        margin-right: 40px;       
    }    
    .price > p {
        font-size: 20px;
        font-weight: bolder;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(185, 32, 32);
    }
    /*-----------------------------------------------------------------------------------------------*/
    
    .pdi{
        display: flex;
       justify-content: center;
       flex-wrap: wrap;
       margin-bottom:100px;
       
    }
    
  
   }
   @media (max-width: 768px){
    .conteinerInfo{      
        border: 1px solid rgba(231, 219, 219, 0.998);
        display: flex;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.107);
        border-radius: 8px;
        justify-content: center;
        align-items: center;   
        width:650px;
        height:450px;     
        margin-top: 60px;
        margin-bottom: 100px;      
    }
    
    
    .imageDetail{
        height: 260px;
        width: 420px;
    
     margin-left: 25px;

     
    
    }
    
    .imageDetail > img{
      
        
        height:100%;
        width: 100%;
      
        object-fit: cover;
        border-radius: 5px;   
        border: 1px solid rgba(26, 24, 24, 0.559);
      
    
    
    }
    
    
    
    
    .description{
      
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    
        height: 300px;
        width: 500px;
        margin-left: 16px;
        
        
       
    
     
    
        
    }
    
    .description > h2 >h3 >p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .description > h2{
        margin-top: 25px;
        font-size:20px ;
        margin-bottom: 10px;
    }
    
    .description > h3{
        font-size:18px;
        margin-top: 2px;
    }
    
    .description > p{
        font-size: 14px ;
        margin: 15px;
    }
    
    
    .puntos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
        margin-bottom: 2rem;
    
    }
    
    .puntos > h2 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:36px ;
    }
    
    
    .price {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
        height: 200px;
        margin-right: 40px;
        
    }
    
    .price > p {
        font-size: 20px;
        font-weight: bolder;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(185, 32, 32);
    }
    
    .pdi{
        display: flex;
       justify-content: center;
       flex-wrap: wrap;
       margin-bottom:100px;
       
    }
   } 
   @media (max-width: 576px){
    
    .conteinerInfo{      
        border: 1px solid rgba(231, 219, 219, 0.998);
        display: flex;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.107);
        border-radius: 8px;        
        justify-content: center;
        align-items: center;   
        width:500px;
        height:300px;     
        margin-top: 40px;
        margin-bottom:80px;      
    }
    
    
    .imageDetail{
        height: 180px;
        width: 200px;
    
     margin-left: 25px;

     
    
    }
    
    .imageDetail > img{
      
        
        height:100%;
        width: 100%;
      
        object-fit: cover;
        border-radius: 5px;   
        border: 1px solid rgba(26, 24, 24, 0.559);
      
    
    
    }
    
    
    
    
    .description{
      
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    
        height: 200px;
        width: 300px;
        margin-left: 10px;
        
        
       
    
     
    
        
    }
    
    .description > h2 >h3 >p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .description > h2{
       
        font-size:12px ;
        margin-bottom: 10px;
    }
    
    .description > h3{
        font-size:10px;
        margin-top: 2px;
    }
    
    .description > p{
        font-size: 10px ;
    }
    
    
    .puntos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
        margin-bottom: 2rem;
    
    }
    
    .puntos > h2 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:36px ;
    }
    
    
    .price {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
        height: 200px;
        margin-right: 40px;
        
    }
    
    .price > p {
        font-size: 15px;
        font-weight: bolder;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(185, 32, 32);
    }
    
    .pdi{
        display: flex;
       justify-content: center;
       flex-wrap: wrap;
       margin-bottom:100px;
       
    }
   }
   @media (max-width: 480px){
    .conteinerInfo{      
        border: 1px solid rgba(231, 219, 219, 0.998);
        display: flex;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.107);
        border-radius: 8px;        
        justify-content: center;
        align-items: center;   
        width:450px;
        height:300px;     
        margin-top:40px;
        margin-bottom:100px;      
    }
    
    
    .imageDetail{
        height: 180px;
        width: 200px;
    
     margin-left: 25px;

     
    
    }
    
    .imageDetail > img{
      
        
        height:100%;
        width: 100%;
      
        object-fit: cover;
        border-radius: 5px;   
        border: 1px solid rgba(26, 24, 24, 0.559);
      
    
    
    }
    
    
    
    
    .description{
      
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    
        height: 200px;
        width: 280px;
        margin-left: 10px;
        
        
       
    
     
    
        
    }
    
    .description > h2 >h3 >p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .description > h2{
       
        font-size:12px ;
        margin-bottom: 10px;
    }
    
    .description > h3{
        font-size:10px;
        margin-top: 2px;
    }
    
    .description > p{
        font-size: 10px ;
    }
    
    
    .puntos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
        margin-bottom: 2rem;
    
    }
    
    .puntos > h2 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:28px ;
    }
    
    
    .price {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
        height: 200px;
        margin-right: 40px;
        
    }
    
    .price > p {
        font-size: 15px;
        font-weight: bolder;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(185, 32, 32);
    }
    
    .pdi{
        display: flex;
       justify-content: center;
       flex-wrap: wrap;
       margin-bottom:100px;
       
    }
  
   }
  
