header {
    height: 20vh;
    border: 1px solid black;
    display:flex ;
    justify-content: center;   
}


header img{
  width: 10%;

}
.header {    
    display:flex ;
    border: 1px solid black; 
    margin-right: 0;
    
   
       
}


header img {
    height: 100%;    
}

.input-header{
    width: 200px;
    height: 18px;
    margin-top: 50px;
}
